:root{

--red:#00aaff;
--bg:#090b13;
--card:#1a1d29;

}

*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

background:var(--bg);
color:white;
font-family:'Segoe UI',sans-serif;

}

.topbar{

display:flex;
justify-content:space-between;
align-items:center;

padding:20px 6%;

background:#090b13;

position:sticky;

top:0;

z-index:999;

}

.logo{

font-size:30px;

font-weight:900;

text-decoration:none;

color:var(--red);

}

.volver{

color:white;

text-decoration:none;

}

.hero{

display:grid;

grid-template-columns:1fr 1fr;

gap:40px;

padding:60px 6%;

align-items:center;

}

.hero-image{

width:100%;

border-radius:20px;

box-shadow:0 0 30px rgba(0,170,255,.35);

}

.hero-content h1{

font-size:48px;

margin-bottom:20px;

}

.hero-content p{

font-size:20px;

opacity:.85;

margin-bottom:30px;

}

.hero-buttons{

display:flex;

gap:15px;

flex-wrap:wrap;

}

.btn{

padding:15px 30px;

border-radius:10px;

text-decoration:none;

font-weight:bold;

transition:.3s;

}

.video{

background:#e50914;

color:white;

}

.download{

background:#00aaff;

color:white;

}

.btn:hover{

transform:scale(1.05);

}

main{

width:min(1100px,90%);

margin:auto;

padding-bottom:80px;

}

.box{

background:var(--card);

padding:30px;

margin-top:30px;

border-radius:20px;

}

.box h2{

margin-bottom:20px;

}

.warning{

background:#ffb100;

color:black;

font-weight:bold;

padding:20px;

border-radius:20px;

margin-top:30px;

}

footer{

text-align:center;

padding:40px;

opacity:.6;

}

@media(max-width:900px){

.hero{

grid-template-columns:1fr;

}

.hero-content h1{

font-size:34px;

}

}
